<li>
  <div class="actions">
    <span>
      <input
        [id]="todo?.id"
        type="checkbox"
        [checked]="todo?.completed"
        (click)="toggleTodo.emit(!todo?.completed)"/>
      <label [for]="todo?.id">{{ todo?.description }}</label>
    </span>
    <span>
      <button (click)="onEditTodo()">Edit</button>
      <button (click)="deleteTodo.emit()">Delete</button>
    </span>
  </div>
  <div *ngIf="todo?.tags" class="tags">
    <span class="tag" *ngFor="let tag of todo?.tags">{{tag}}</span>
  </div>
</li>
